
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />




<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-1">
            <div class="card">
                <div class="card-body">

                    @using (Ajax.BeginForm(
                        new AjaxOptions
                        {
                            HttpMethod = "get",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "ListProducts"
                        }))
                    {
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <a onclick="create();" class="btn btn-block btn-primary text-white btn-create">Nuevo <i class="fa fa-plus-square"></i></a>
                                </div>
                            </div>

                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Busqueda por Nombre producto</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="SearchString" name="SearchString" placeholder="">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                    }

                    <div id="unobtrusive">
                        @Html.Partial("_ListProducts")
                    </div>

                </div>
            </div>
        </div>
        <!-- data table end -->

    </div>

</div>

